/*header.css*/
.header {
  padding: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001cbb;
  color: rgb(0, 0, 0);
}

.header-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  padding: 10px 20px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.header-menu a:hover {
  color: #97500e;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  .header-menu a {
    background: #f5f5f5;
    border-radius: 4px;
    color: #000;
  }
}